<header>
	<div class="m-header">
		<div class="m-header__top-menu">
			<div class="m-header__top-menu__item">Sell</div>
			<div class="m-header__top-menu__item">Registry</div>
			<div class="m-header__top-menu__item">Community</div>
			<div class="m-header__top-menu__item">Blogs</div>
			<div class="m-header__top-menu__item">Mobile</div>
			<div class="m-header__top-menu__item">Gift Cards</div>
		</div>
		<div class="m-header__account-menu">
			<div class="b-logo"><img src="img/logo.png" alt="logo" /></div>
			<div class="m-header__account-menu__box">
				<div class="m-header__account-menu__container">
					<div class="m-header__account-menu__item">Register</div>
				</div>
				<div class="m-header__account-menu__container">
					<div class="m-header__account-menu__item">Sign In</div>
				</div>
				<div class="m-header__account-menu__container">
					<div class="m-header__account-menu__item">Whishlist<i class="sprite sprite-icon-special"></i></div>
				</div>
				<div class="m-header__account-menu__container">
					<div class="m-header__account-menu__item">Cart<i class="sprite sprite-icon-cart"></i></div>
				</div>
			</div>
		</div>
		<nav class="m-header__main-menu">
			<ul class="b-nav">
				<li class="b-nav__item">
					<div class="b-nav__text">Art</div>
				</li>
				<li class="b-nav__item">
					<div class="b-nav__text">Home & Living</div>
					<ul class="b-nav__sub-menu">
						<li class="b-nav__sub-menu__item">
							<img alt="img" class="b-nav__sub-menu__img" src="img/product-sub-menu.jpg" />
							<div class="b-nav__sub-menu__title">Item Name Here</div>
							<div class="b-nav__sub-menu__text">Lorem Ipsum is simply
								dummy text of the</div>
							<button class="b-nav__sub-menu__button l-button">More Details</button>
						</li>
						<li class="b-nav__sub-menu__item">
							<img alt="img" class="b-nav__sub-menu__img" src="img/product-sub-menu.jpg" />
							<div class="b-nav__sub-menu__title">Item Name Here</div>
							<div class="b-nav__sub-menu__text">Lorem Ipsum is simply
								dummy text of the</div>
							<button class="b-nav__sub-menu__button l-button">More Details</button>
						</li>
						<li class="b-nav__sub-menu__item">
							<div class="b-nav__sub-menu__title l-center">See All Items</div>
						</li>
					</ul>
				</li>
				<li class="b-nav__item">
					<div class="b-nav__text">Jewelery</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">Women</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">Men</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">Kids</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">Vintage</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">Weddings</div></li>
				<li class="b-nav__item">
					<div class="b-nav__text">More</div></li>
				<li class="b-nav__item l-hidden-menu"><div class="b-nav__text">All Categories</div></li>
			</ul>
		</nav>
	</div>
</header>