.m-new-products {
	padding-bottom: 60px;
	@include small-desktop {
		padding-bottom: 40px;
	}
	@include tablet-portrait {
		padding-bottom: 30px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		position: relative;
		overflow: hidden;
	}
	&__product {
		width: 32%;
		position: relative;
		cursor: pointer;
		img {
			width: 100%;
		}
		&:nth-child(2):after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $color-dark-blue-mask;
		}
		.b-product-price {
			top: 35%;
			left:50%;
			transform: translate(-50%);
			width: 90%;

		}
	}
}